.env
output/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
*.log
instance
.webassets-cache
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
pip-wheel-metadata/
*.egg-info/
dist/  
build/
celerybeat-schedule
celerybeat.pid
report_agent.db
report_agent.sqlite
*.sqlite3
*.pot